@model IEnumerable<MoamenShalaby.Models.product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MyLayout.cshtml";
}

<a href="~/test/Create" style="text-decoration:none;color:green;"><h2>اضافه</h2></a>

<style>

</style>

<center>

    <table  class="table table-hover" dir="rtl">
        <thead>
            <tr>
                <th style="text-align:right;font-size:20px">الرقم</th>
                <th style="text-align:right;font-size:20px">اسم الصنف</th>
                <th style="text-align:right;font-size:20px">الكميه الاصليه</th>
                <th style="text-align:right;font-size:20px">سعر الجمله</th>
                <th style="text-align:right;font-size:20px">الاجمالى </th>
                <th style="text-align:right;font-size:20px">التاريخ</th>
                <th style="text-align:right;font-size:20px">تعديل الصنف</th>
                <th style="text-align:right;font-size:20px"> حذف الصنف</th>

            </tr>
        </thead>



        <tbody>

            @foreach (var item in Model)
            {
                <tr class="active" > <td>@item.id</td> <td>@item.name</td> <td>@item.orginal_Qty</td> <td>@item.orginal_price</td> <td>@item.total</td> <td>@item.date</td> <td> <a href="~/test/Edite/@item.id">تعديل</a> </td> <td> <a href="~/test/Delete/@item.id">حذف</a> </td> </tr>
            }

        </tbody>

    </table>
    


</center>