@model IEnumerable<MoamenShalaby.Models.Trans_Muarden>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MyLayout.cshtml";
}

<a href="~/Trans_Muarden/Create" style="text-decoration:none;color:green;"><h2>اضافه</h2></a>

<center>

    <table class="table table-hover" dir="rtl">
        <thead>
            <tr>
                <th style="text-align:right;font-size:20px">الرقم</th>
                <th style="text-align:right;font-size:20px">اسم المورد</th>
                <th style="text-align:right;font-size:20px">اجمالى التكاليف </th>
                <th style="text-align:right;font-size:20px">المدفوع </th>
                <th style="text-align:right;font-size:20px">المتبقي </th>
                <th style="text-align:right;font-size:20px">ملاحظات </th>
                <th style="text-align:right;font-size:20px">تاريخ اضافه المدين </th>



            </tr>
        </thead>



        <tbody>

            @foreach (var item in Model)
            {
                <tr class="active"> <td>@item.id</td> <td>@item.Muarden.name</td> <td>@item.Total</td> <td>@item.Cash</td> <td>@item.Reminder</td> <td>@item.Notes</td> <td>@item.date</td>  <td> <a href="~/Trans_Muarden/Edite/@item.id">تعديل</a> </td> <td> <a href="~/Trans_Muarden/Delete/@item.id">حذف</a> </td> </tr>
            }

        </tbody>

    </table>



</center>