<table>

    @foreach (var item in Model)
            {

        <tr> <td>@item.name</td> <td>@item.orginalQty</td> <td>@item.saledQty</td> <td>@item.orginalPrice</td> <td>@item.saledPrice</td> <td>@item.date</td> </tr>
    }


</table>

